NAME=mycam1
ENABLED=1
CHECK_INTERVAL=10000

SEGMENT_TIME=01:00:00
FILE_PREFIX=%Y-%m-%d_%H-%M-%S
STREAM_URL=rtsp://user:password@...
AUTO_RECORD=1

MQTT_ENABLE=1
MQTT_TOPIC=my/topic/mycam1
MQTT_CONTROL_TOPIC=my/topic/mycam1/enable
MQTT_TOPIC_VALUE_ON=1
MQTT_TOPIC_VALUE_OFF=0
MQTT_CONTROL_VALUE_ON=1
MQTT_CONTROL_VALUE_OFF=0
